@font-face {
    font-family: 'HMIconFont';
    src:    url('fonts/HMIconFont.eot?w89lvi');
    src:    url('fonts/HMIconFont.eot?w89lvi#iefix') format('embedded-opentype'),
        url('fonts/HMIconFont.ttf?w89lvi') format('truetype'),
        url('fonts/HMIconFont.woff?w89lvi') format('woff'),
        url('fonts/HMIconFont.svg?w89lvi#HMIconFont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="HM"], [class*=" HM"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'HMIconFont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.HMIcons_back:before {
    content: "\e913";
}
.HMIcons_elliptical:before {
    content: "\e90f";
}
.HMIcons_baseball:before {
    content: "\e90e";
}
.HMIcons_cam4:before {
    content: "\e910";
}
.HMIcons_climbing:before {
    content: "\e911";
}
.HMIcons_custom:before {
    content: "\e912";
}
.HMIcons_fitness:before {
    content: "\e914";
}
.HMIcons_frisbee:before {
    content: "\e915";
}
.HMIcons_handball:before {
    content: "\e916";
}
.HMIcons_hiphop:before {
    content: "\e917";
}
.HMIcons_hockey:before {
    content: "\e918";
}
.HMIcons_icehockey:before {
    content: "\e919";
}
.HMIcons_iceskate:before {
    content: "\e91a";
}
.HMIcons_location2:before {
    content: "\e91b";
}
.HMIcons_muaythai:before {
    content: "\e91c";
}
.HMIcons_rowing:before {
    content: "\e91d";
}
.HMIcons_skateboard:before {
    content: "\e91e";
}
.HMIcons_skydiving:before {
    content: "\e91f";
}
.HMIcons_zumba:before {
    content: "\e920";
}
.HMIcons_robot1:before {
    content: "\e90c";
}
.HMIcons_robot2:before {
    content: "\e90d";
}
.HMIcons_goscreen:before {
    content: "\e90b";
}
.HMIcons_bzzzit:before {
    content: "\e906";
}
.HMIcons_cal:before {
    content: "\e907";
}
.HMIcons_cal2:before {
    content: "\e908";
}
.HMIcons_paperclip:before {
    content: "\e909";
}
.HMIcons_xsport:before {
    content: "\e90a";
}
.HMIcons_homelogo:before {
    content: "\e900";
}
.HMIcons_trendbottom:before {
    content: "\e901";
}
.HMIcons_trendtop:before {
    content: "\e902";
}
.HMIcons_day2:before {
    content: "\e80a";
}
.HMIcons_feather2:before {
    content: "\e80b";
}
.HMIcons_hr2:before {
    content: "\e80c";
}
.HMIcons_introtate21:before {
    content: "\e80d";
}
.HMIcons_intswipe1:before {
    content: "\e80e";
}
.HMIcons_month2:before {
    content: "\e80f";
}
.HMIcons_pie2:before {
    content: "\e810";
}
.HMIcons_pressure2:before {
    content: "\e811";
}
.HMIcons_week2:before {
    content: "\e812";
}
.HMIcons_whours1:before {
    content: "\e903";
}
.HMIcons_wminutes1:before {
    content: "\e904";
}
.HMIcons_wmotion1:before {
    content: "\e905";
}
.HMIcons_feather:before {
    content: "\e802";
}
.HMIcons_hr:before {
    content: "\e803";
}
.HMIcons_hyresult:before {
    content: "\e804";
}
.HMIcons_leaderboard:before {
    content: "\e805";
}
.HMIcons_leaderboard2:before {
    content: "\e806";
}
.HMIcons_pie:before {
    content: "\e807";
}
.HMIcons_pressure:before {
    content: "\e808";
}
.HMIcons_spotify2:before {
    content: "\e809";
}
.HMIcons_sleep:before {
    content: "\e800";
}
.HMIcons_bike2:before {
    content: "\e801";
}
.HMIcons_forward2:before {
    content: "\e73a";
}
.HMIcons_pause2:before {
    content: "\e73b";
}
.HMIcons_play2:before {
    content: "\e73c";
}
.HMIcons_rewind2:before {
    content: "\e73d";
}
.HMIcons_roundmore:before {
    content: "\e73e";
}
.HMIcons_roundmore2:before {
    content: "\e73f";
}
.HMIcons_skipnext3:before {
    content: "\e740";
}
.HMIcons_skipnext4:before {
    content: "\e741";
}
.HMIcons_skipprevious3:before {
    content: "\e742";
}
.HMIcons_skipprevious4:before {
    content: "\e743";
}
.HMIcons_stop2:before {
    content: "\e744";
}
.HMIcons_trenddown:before {
    content: "\e745";
}
.HMIcons_trendstable:before {
    content: "\e746";
}
.HMIcons_trendup:before {
    content: "\e747";
}
.HMIcons_warning3:before {
    content: "\e748";
}
.HMIcons_settingsmall:before {
    content: "\e738";
}
.HMIcons_settingsmall2:before {
    content: "\e739";
}
.HMIcons_airquality:before {
    content: "\e600";
}
.HMIcons_airquality2:before {
    content: "\e601";
}
.HMIcons_alarmclock1:before {
    content: "\e602";
}
.HMIcons_alarmclock2:before {
    content: "\e603";
}
.HMIcons_android:before {
    content: "\e604";
}
.HMIcons_apple:before {
    content: "\e605";
}
.HMIcons_baby1:before {
    content: "\e606";
}
.HMIcons_baby2:before {
    content: "\e607";
}
.HMIcons_baby3:before {
    content: "\e608";
}
.HMIcons_baby4:before {
    content: "\e609";
}
.HMIcons_babyphone:before {
    content: "\e60a";
}
.HMIcons_badges1:before {
    content: "\e60b";
}
.HMIcons_badges2:before {
    content: "\e60c";
}
.HMIcons_badminton:before {
    content: "\e60d";
}
.HMIcons_basketball:before {
    content: "\e60e";
}
.HMIcons_battery0:before {
    content: "\e60f";
}
.HMIcons_battery1:before {
    content: "\e610";
}
.HMIcons_battery2:before {
    content: "\e611";
}
.HMIcons_battery3:before {
    content: "\e612";
}
.HMIcons_battery4:before {
    content: "\e613";
}
.HMIcons_battery5:before {
    content: "\e614";
}
.HMIcons_battery6:before {
    content: "\e615";
}
.HMIcons_battery7:before {
    content: "\e616";
}
.HMIcons_battery8:before {
    content: "\e617";
}
.HMIcons_battery9:before {
    content: "\e618";
}
.HMIcons_battery10:before {
    content: "\e619";
}
.HMIcons_battery11:before {
    content: "\e61a";
}
.HMIcons_bell:before {
    content: "\e61b";
}
.HMIcons_bell2:before {
    content: "\e61c";
}
.HMIcons_bell3:before {
    content: "\e61d";
}
.HMIcons_bell4:before {
    content: "\e61e";
}
.HMIcons_bike:before {
    content: "\e61f";
}
.HMIcons_bmx:before {
    content: "\e620";
}
.HMIcons_bodyboard:before {
    content: "\e621";
}
.HMIcons_bof1:before {
    content: "\e622";
}
.HMIcons_bof2:before {
    content: "\e623";
}
.HMIcons_book:before {
    content: "\e624";
}
.HMIcons_book2:before {
    content: "\e625";
}
.HMIcons_boxing:before {
    content: "\e626";
}
.HMIcons_bt1:before {
    content: "\e627";
}
.HMIcons_bt2:before {
    content: "\e628";
}
.HMIcons_bug1:before {
    content: "\e629";
}
.HMIcons_bug2:before {
    content: "\e62a";
}
.HMIcons_cam:before {
    content: "\e62b";
}
.HMIcons_cam2:before {
    content: "\e62c";
}
.HMIcons_cam3:before {
    content: "\e62d";
}
.HMIcons_cancel:before {
    content: "\e62e";
}
.HMIcons_cart:before {
    content: "\e62f";
}
.HMIcons_cart2:before {
    content: "\e630";
}
.HMIcons_check:before {
    content: "\e631";
}
.HMIcons_close:before {
    content: "\e632";
}
.HMIcons_cup:before {
    content: "\e633";
}
.HMIcons_cup2:before {
    content: "\e634";
}
.HMIcons_cup3:before {
    content: "\e635";
}
.HMIcons_cup4:before {
    content: "\e636";
}
.HMIcons_curve:before {
    content: "\e637";
}
.HMIcons_dance:before {
    content: "\e638";
}
.HMIcons_day:before {
    content: "\e639";
}
.HMIcons_delete:before {
    content: "\e63a";
}
.HMIcons_deleteround:before {
    content: "\e63b";
}
.HMIcons_device:before {
    content: "\e63c";
}
.HMIcons_device2:before {
    content: "\e63d";
}
.HMIcons_dnd1:before {
    content: "\e63e";
}
.HMIcons_dnd2:before {
    content: "\e63f";
}
.HMIcons_dnd3:before {
    content: "\e640";
}
.HMIcons_dnd4:before {
    content: "\e641";
}
.HMIcons_doctor:before {
    content: "\e642";
}
.HMIcons_downrd:before {
    content: "\e643";
}
.HMIcons_downrd2:before {
    content: "\e644";
}
.HMIcons_downsm:before {
    content: "\e645";
}
.HMIcons_earth:before {
    content: "\e646";
}
.HMIcons_earth2:before {
    content: "\e647";
}
.HMIcons_edit:before {
    content: "\e648";
}
.HMIcons_edit2:before {
    content: "\e649";
}
.HMIcons_empty:before {
    content: "\e64a";
}
.HMIcons_ethernet1:before {
    content: "\e64b";
}
.HMIcons_ethernet2:before {
    content: "\e64c";
}
.HMIcons_eye:before {
    content: "\e64d";
}
.HMIcons_eye2:before {
    content: "\e64e";
}
.HMIcons_eyeclose:before {
    content: "\e64f";
}
.HMIcons_facebook:before {
    content: "\e650";
}
.HMIcons_facebook2:before {
    content: "\e651";
}
.HMIcons_fencing:before {
    content: "\e652";
}
.HMIcons_flatrd:before {
    content: "\e653";
}
.HMIcons_flatrd2:before {
    content: "\e654";
}
.HMIcons_food1:before {
    content: "\e655";
}
.HMIcons_food2:before {
    content: "\e656";
}
.HMIcons_football:before {
    content: "\e657";
}
.HMIcons_forward:before {
    content: "\e658";
}
.HMIcons_golf:before {
    content: "\e659";
}
.HMIcons_google:before {
    content: "\e65a";
}
.HMIcons_google2:before {
    content: "\e65b";
}
.HMIcons_grip:before {
    content: "\e65c";
}
.HMIcons_happy1:before {
    content: "\e65d";
}
.HMIcons_happy2:before {
    content: "\e65e";
}
.HMIcons_heart:before {
    content: "\e65f";
}
.HMIcons_heart2:before {
    content: "\e660";
}
.HMIcons_help:before {
    content: "\e662";
}
.HMIcons_help2:before {
    content: "\e663";
}
.HMIcons_hike:before {
    content: "\e664";
}
.HMIcons_histo:before {
    content: "\e665";
}
.HMIcons_home:before {
    content: "\e666";
}
.HMIcons_home1:before {
    content: "\e667";
}
.HMIcons_home2:before {
    content: "\e668";
}
.HMIcons_horseriding:before {
    content: "\e669";
}
.HMIcons_humidity:before {
    content: "\e66a";
}
.HMIcons_import:before {
    content: "\e66b";
}
.HMIcons_importround:before {
    content: "\e66c";
}
.HMIcons_info:before {
    content: "\e66d";
}
.HMIcons_info2:before {
    content: "\e66e";
}
.HMIcons_insights1:before {
    content: "\e66f";
}
.HMIcons_insights2:before {
    content: "\e670";
}
.HMIcons_intdrag1:before {
    content: "\e671";
}
.HMIcons_intdrag2:before {
    content: "\e672";
}
.HMIcons_introtate:before {
    content: "\e673";
}
.HMIcons_introtate2:before {
    content: "\e674";
}
.HMIcons_intswipe:before {
    content: "\e675";
}
.HMIcons_intswipeleft:before {
    content: "\e676";
}
.HMIcons_intswiperight:before {
    content: "\e677";
}
.HMIcons_intzoom:before {
    content: "\e678";
}
.HMIcons_kitesurf:before {
    content: "\e679";
}
.HMIcons_lab1:before {
    content: "\e67a";
}
.HMIcons_lab2:before {
    content: "\e67b";
}
.HMIcons_language:before {
    content: "\e67c";
}
.HMIcons_leftright:before {
    content: "\e67d";
}
.HMIcons_leftsm:before {
    content: "\e67e";
}
.HMIcons_light:before {
    content: "\e67f";
}
.HMIcons_light2:before {
    content: "\e680";
}
.HMIcons_lightdown:before {
    content: "\e681";
}
.HMIcons_lightening:before {
    content: "\e682";
}
.HMIcons_lightening2:before {
    content: "\e683";
}
.HMIcons_lightup:before {
    content: "\e684";
}
.HMIcons_list:before {
    content: "\e685";
}
.HMIcons_location:before {
    content: "\e686";
}
.HMIcons_lock:before {
    content: "\e687";
}
.HMIcons_lotus:before {
    content: "\e688";
}
.HMIcons_lowbat1:before {
    content: "\e689";
}
.HMIcons_lowbat2:before {
    content: "\e68a";
}
.HMIcons_magic:before {
    content: "\e68b";
}
.HMIcons_mail:before {
    content: "\e68c";
}
.HMIcons_mail2:before {
    content: "\e68d";
}
.HMIcons_man:before {
    content: "\e68e";
}
.HMIcons_man2:before {
    content: "\e68f";
}
.HMIcons_man3:before {
    content: "\e690";
}
.HMIcons_man4:before {
    content: "\e691";
}
.HMIcons_mappoint:before {
    content: "\e692";
}
.HMIcons_martialarts:before {
    content: "\e693";
}
.HMIcons_mdownrd:before {
    content: "\e694";
}
.HMIcons_mdownrd2:before {
    content: "\e695";
}
.HMIcons_menu:before {
    content: "\e696";
}
.HMIcons_menu2:before {
    content: "\e697";
}
.HMIcons_message:before {
    content: "\e698";
}
.HMIcons_message2:before {
    content: "\e699";
}
.HMIcons_message3:before {
    content: "\e69a";
}
.HMIcons_messageround:before {
    content: "\e69b";
}
.HMIcons_mic:before {
    content: "\e69c";
}
.HMIcons_minusrd:before {
    content: "\e69d";
}
.HMIcons_minusrd2:before {
    content: "\e69e";
}
.HMIcons_month:before {
    content: "\e69f";
}
.HMIcons_moon:before {
    content: "\e6a0";
}
.HMIcons_more:before {
    content: "\e6a1";
}
.HMIcons_mouaip1:before {
    content: "\e6a2";
}
.HMIcons_mouaip2:before {
    content: "\e6a3";
}
.HMIcons_muprd:before {
    content: "\e6a4";
}
.HMIcons_muprd2:before {
    content: "\e6a5";
}
.HMIcons_music:before {
    content: "\e6a6";
}
.HMIcons_news:before {
    content: "\e6a7";
}
.HMIcons_next:before {
    content: "\e6a8";
}
.HMIcons_next2:before {
    content: "\e6a9";
}
.HMIcons_next30:before {
    content: "\e6aa";
}
.HMIcons_nightlight:before {
    content: "\e6ab";
}
.HMIcons_nikefuel:before {
    content: "\e6ac";
}
.HMIcons_nikeplus:before {
    content: "\e6ad";
}
.HMIcons_noise:before {
    content: "\e6ae";
}
.HMIcons_nok:before {
    content: "\e6af";
}
.HMIcons_nok2:before {
    content: "\e6b0";
}
.HMIcons_ok:before {
    content: "\e6b1";
}
.HMIcons_ok2:before {
    content: "\e6b2";
}
.HMIcons_overview:before {
    content: "\e6b3";
}
.HMIcons_pause:before {
    content: "\e6b4";
}
.HMIcons_pen:before {
    content: "\e6b5";
}
.HMIcons_pen2:before {
    content: "\e6b6";
}
.HMIcons_people1:before {
    content: "\e6b7";
}
.HMIcons_people2:before {
    content: "\e6b8";
}
.HMIcons_peopleadd:before {
    content: "\e6b9";
}
.HMIcons_peoplecheck:before {
    content: "\e6ba";
}
.HMIcons_peopleedit:before {
    content: "\e6bb";
}
.HMIcons_peopleforget:before {
    content: "\e6bc";
}
.HMIcons_phonerotate:before {
    content: "\e6bd";
}
.HMIcons_photoalbum1:before {
    content: "\e6be";
}
.HMIcons_photoalbum2:before {
    content: "\e6bf";
}
.HMIcons_piano:before {
    content: "\e6c0";
}
.HMIcons_pict:before {
    content: "\e6c1";
}
.HMIcons_pilates:before {
    content: "\e6c2";
}
.HMIcons_pill:before {
    content: "\e6c3";
}
.HMIcons_pingpong:before {
    content: "\e6c4";
}
.HMIcons_plan1:before {
    content: "\e6c5";
}
.HMIcons_plan2:before {
    content: "\e6c6";
}
.HMIcons_play:before {
    content: "\e6c7";
}
.HMIcons_plus:before {
    content: "\e6c8";
}
.HMIcons_plusrd:before {
    content: "\e6c9";
}
.HMIcons_plusrd2:before {
    content: "\e6ca";
}
.HMIcons_position:before {
    content: "\e6cb";
}
.HMIcons_position2:before {
    content: "\e6cc";
}
.HMIcons_prev:before {
    content: "\e6cd";
}
.HMIcons_prev2:before {
    content: "\e6ce";
}
.HMIcons_prev30:before {
    content: "\e6cf";
}
.HMIcons_privacy1:before {
    content: "\e6d0";
}
.HMIcons_privacy2:before {
    content: "\e6d1";
}
.HMIcons_privacy3:before {
    content: "\e6d2";
}
.HMIcons_privacy4:before {
    content: "\e6d3";
}
.HMIcons_profile:before {
    content: "\e6d4";
}
.HMIcons_profile2:before {
    content: "\e6d5";
}
.HMIcons_radio:before {
    content: "\e6d6";
}
.HMIcons_rewind:before {
    content: "\e6d7";
}
.HMIcons_rightsm:before {
    content: "\e6d8";
}
.HMIcons_rocket:before {
    content: "\e6d9";
}
.HMIcons_rocket2:before {
    content: "\e6da";
}
.HMIcons_roundedheart:before {
    content: "\e6db";
}
.HMIcons_roundedheart2:before {
    content: "\e6dc";
}
.HMIcons_roundedrun:before {
    content: "\e6dd";
}
.HMIcons_roundedrun2:before {
    content: "\e6de";
}
.HMIcons_roundedwalk:before {
    content: "\e6df";
}
.HMIcons_roundedwalk2:before {
    content: "\e6e0";
}
.HMIcons_rugby:before {
    content: "\e6e1";
}
.HMIcons_run2:before {
    content: "\e6e2";
}
.HMIcons_sad1:before {
    content: "\e6e3";
}
.HMIcons_sad2:before {
    content: "\e6e4";
}
.HMIcons_search:before {
    content: "\e6e5";
}
.HMIcons_select:before {
    content: "\e6e6";
}
.HMIcons_sendandroid:before {
    content: "\e6e7";
}
.HMIcons_settings:before {
    content: "\e6e8";
}
.HMIcons_settings2:before {
    content: "\e6e9";
}
.HMIcons_settings3:before {
    content: "\e6ea";
}
.HMIcons_share:before {
    content: "\e6eb";
}
.HMIcons_share2:before {
    content: "\e6ec";
}
.HMIcons_share3:before {
    content: "\e6ed";
}
.HMIcons_shareround:before {
    content: "\e6ee";
}
.HMIcons_skate:before {
    content: "\e6ef";
}
.HMIcons_ski:before {
    content: "\e6f0";
}
.HMIcons_skipnext:before {
    content: "\e6f1";
}
.HMIcons_skipprevious:before {
    content: "\e6f2";
}
.HMIcons_snooze:before {
    content: "\e6f3";
}
.HMIcons_snowboard:before {
    content: "\e6f4";
}
.HMIcons_soccer:before {
    content: "\e6f5";
}
.HMIcons_sport:before {
    content: "\e6f6";
}
.HMIcons_spotify:before {
    content: "\e6f7";
}
.HMIcons_squash:before {
    content: "\e6f8";
}
.HMIcons_star:before {
    content: "\e6f9";
}
.HMIcons_star2:before {
    content: "\e6fa";
}
.HMIcons_star3:before {
    content: "\e6fb";
}
.HMIcons_star4:before {
    content: "\e6fc";
}
.HMIcons_stop:before {
    content: "\e6fd";
}
.HMIcons_sun:before {
    content: "\e6fe";
}
.HMIcons_sunset:before {
    content: "\e6ff";
}
.HMIcons_surfing:before {
    content: "\e700";
}
.HMIcons_swim:before {
    content: "\e701";
}
.HMIcons_sync:before {
    content: "\e702";
}
.HMIcons_target1:before {
    content: "\e703";
}
.HMIcons_target2:before {
    content: "\e704";
}
.HMIcons_team1:before {
    content: "\e705";
}
.HMIcons_team2:before {
    content: "\e706";
}
.HMIcons_temperature:before {
    content: "\e707";
}
.HMIcons_tennis:before {
    content: "\e708";
}
.HMIcons_thumbdown:before {
    content: "\e709";
}
.HMIcons_thumbup:before {
    content: "\e70a";
}
.HMIcons_time:before {
    content: "\e70b";
}
.HMIcons_time2:before {
    content: "\e70c";
}
.HMIcons_timeleft:before {
    content: "\e70d";
}
.HMIcons_timeright:before {
    content: "\e70e";
}
.HMIcons_trend:before {
    content: "\e70f";
}
.HMIcons_twitter:before {
    content: "\e710";
}
.HMIcons_twitter2:before {
    content: "\e711";
}
.HMIcons_update:before {
    content: "\e712";
}
.HMIcons_updown:before {
    content: "\e713";
}
.HMIcons_uprd:before {
    content: "\e714";
}
.HMIcons_uprd2:before {
    content: "\e715";
}
.HMIcons_upsm:before {
    content: "\e716";
}
.HMIcons_usb1:before {
    content: "\e717";
}
.HMIcons_usb2:before {
    content: "\e718";
}
.HMIcons_videoback:before {
    content: "\e719";
}
.HMIcons_voldown:before {
    content: "\e71a";
}
.HMIcons_volley:before {
    content: "\e71b";
}
.HMIcons_volup:before {
    content: "\e71c";
}
.HMIcons_walk:before {
    content: "\e71d";
}
.HMIcons_warning:before {
    content: "\e71e";
}
.HMIcons_warning2:before {
    content: "\e71f";
}
.HMIcons_waterpolo:before {
    content: "\e720";
}
.HMIcons_week:before {
    content: "\e721";
}
.HMIcons_weightlifting:before {
    content: "\e722";
}
.HMIcons_whours:before {
    content: "\e723";
}
.HMIcons_wifi1:before {
    content: "\e724";
}
.HMIcons_wifi2:before {
    content: "\e725";
}
.HMIcons_windsurf:before {
    content: "\e726";
}
.HMIcons_withingslogo:before {
    content: "\e727";
}
.HMIcons_withingslogo2:before {
    content: "\e728";
}
.HMIcons_withingslogofull:before {
    content: "\e729";
}
.HMIcons_withingslogosmall:before {
    content: "\e72a";
}
.HMIcons_wminutes:before {
    content: "\e72b";
}
.HMIcons_wmotion:before {
    content: "\e72c";
}
.HMIcons_woa1:before {
    content: "\e72d";
}
.HMIcons_woa2:before {
    content: "\e72e";
}
.HMIcons_woman:before {
    content: "\e72f";
}
.HMIcons_woman2:before {
    content: "\e730";
}
.HMIcons_woman3:before {
    content: "\e731";
}
.HMIcons_woman4:before {
    content: "\e732";
}
.HMIcons_wrestling:before {
    content: "\e733";
}
.HMIcons_yoga:before {
    content: "\e734";
}
.HMIcons_zen:before {
    content: "\e735";
}
.HMIcons_zoom:before {
    content: "\e736";
}
.HMIcons_zoomout:before {
    content: "\e737";
}

0
